table, th, td{
    border: 1px solid black;
}
 input[type="text"],  input[type="password"] {
    -webkit-appearance: none;
    font-size:20px;
    padding: 8px 6px;
    line-height: 16px; 
    width:20%;
    border-radius: 8px;
    }
input[type="submit"], input[type="button"]{
    font-size:18px;
    padding: 4px 6px;
    margin-left:6%;
    height: 60px; 
    width:15%;
    font-family:"Arial";
    margin-top:8px;
    border-radius: 10px;
    }
#tickbox{
    white-space: nowrap;
}
select{
    font-size:18px;
    line-height: 16px; 
    width:40%;
    border-radius: 8px;
}

.click_item{
    background-color:light-grey;
    border:groove;
    font-size: 25%;
}

tr th:last-child{
    width:1%;
    white-space:nowrap;
}
